.junkContainer {
  display: flex;
  justify-content: space-evenly;
}

.junkContainer > div:first-child {
  width: 30%;
  display: flex;
  justify-content: left;
}

.info {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

@media (max-width: 576px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
