.listBox {
  width: 100%;
  height: auto;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 5px;
  margin-bottom: 30px;
}
.title {
  border-radius: 4px 4px 0 0;
  padding: 15px;
  background-color: white;
}
.listHeader {
  border-top: 1px solid rgb(208, 208, 208);
  border-bottom: 1px solid rgb(208, 208, 208);
  padding: 5px 2px;
  display: flex;
  justify-content: space-evenly;
}
.listHeader > p:first-child {
  width: 30%;
}
.info {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.listBox > li {
  border-bottom: 1px solid rgb(208, 208, 208);
  padding: 2px;
  background-color: white;
}

.listBox > li:last-child {
  border: none;
  border-radius: 0 0 5px 5px;
}

@media (max-width: 576px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
