.container {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
}
.headerContainer {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  background-color: #004080;
  font-family: Ramche;
  font-size: 15px;
  color: white;
  border-radius: 10px 10px 0 0;
}
.tableContainer {
  width: 100%;
}
.tableContainer > tr {
  border-bottom: 1px solid #ccc;
}
.tableContainer > tr:first-child {
  background-color: #f9f6f0;
}
.tableContainer > tr:last-child {
  border: none;
}
.tableContainer>tr:nth-child(2) >td{
font-weight: 500;
}
td {
  padding: 4px;
  font-family: Pretendard, Malgun Gothic, -apple-system, Dotum, sans-serif;
  font-size: 14px;
}

@media (max-width: 576px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
