.container {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
}
.headerContainer {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  background-color: #004080;
  font-family: Ramche;
  font-size: 15px;
  color: white;
  border-radius: 10px 10px 0 0;
}
.tableContainer {
  width: 100%;
}

.tableContainer > tbody > tr {
  border-bottom: 1px solid #ccc;
}
.tableContainer > thead > tr:first-child {
  background-color: #f9f6f0;
}
.tableInfoContainer > tr {
  border-bottom: 1px solid #ccc;
}
.tableDataContainer > tr:last-child {
  border: none;
}
.tableDataContainer > tr:nth-child(1),
.tableDataContainer > tr:nth-child(2),
.tableDataContainer > tr:nth-child(3) > td {
  font-weight: 700;
  background-color: #f9f6f0;
}
.tableContainer td {
  padding: 4px;
  font-size: 14px;
}
