@font-face {
  font-family: "Ramche";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
.header {
  width: 100%;
  z-index: 2;
}
.header p {
  color: #fffff0;
  font-family: Ramche;
}
.title {
  margin-left: 3%;
}
.title:hover {
  cursor: pointer;
}
.headerContent {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004080;
}

.loginInfoContainer {
  margin-right: 0.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginInfoContainer > p:first-child {
  margin-right: 0.2rem;
  font-family: HakgyoansimWoojuR;
}
.loginInfoContainer > button {
  padding: 0.3rem;
  background: none;
}

.loginButton {
  margin-right: 1rem;
}

/* hello */
.loginInfoContainer {
  position: relative;
}
.menu {
  top: 5%;
  border-radius: 10px;
  position: fixed;
  left: calc(100% - 5rem);
  background-color: gray;

  z-index: 1;
}

.menu > li {
  width: 100%;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > li > p {
  width: 100%;
  padding: 0.5rem;
  font-family: "Courier New", Courier, monospace;
}

.modalState > p {
  font-size: 5px;
}
