@font-face {
  font-family: "Ramche";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
.header {
  width: 100%;
  z-index: 1000;
}
.header p {
  color: #fffff0;
  font-family: Ramche;
}
.title {
  margin-left: 3%;
  
}
.title:hover {
cursor: pointer;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: #004080;
}

.loginInfoContainer {
  display: flex;
}

.loginInfoContainer > p:first-child {
  font-family: HakgyoansimWoojuR;
}

.loginButton {
  margin-right: 1rem;
}