nav {
  background-color: #d3d3d3;
}

.navList {
  height: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navList > li {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #333333;
}
