.container {
  padding: 10% 0;
}

.searchBox {
  display: flex;
  justify-content: center;
}
.searchBox > select {
  border: none;
  padding: 0 10px;
}
.searchBox > input,
button {
  border: none;
}

.searchBox > input {
  width: 300px;
  height: 30px;
  padding: 3px 15px;
}
.searchBox > input:focus {
  outline: none;
}

.searchBox > button {
  width: 15%;
  border-radius: 0 10px 10px 0;
  background-color: #004080;
  color: white;
}

@media (max-width: 576px) {
}
@media (min-width: 576px) and (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 8% 0;
  }
}

@media (min-width: 1200px) {
  .searchBox {
    padding: 0 10rem;
  }
  .searchBox > input {
    width: 500px;
    height: 30px;
    padding: 3px 15px;
  }

  .searchBox > button {
    width: 20%;
  }
}
