.header {
  position: fixed;
  top: 0;
  width: 100%;
}
.title {
  margin-left: 3%;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: #004080;
}

.loginInfoContainer {
  display: flex;
}
