.header {
  width: 100%;
  z-index: 1000;
}
.header p {
  color: #fffff0;
}
.title {
  margin-left: 3%;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: #004080;
}

.loginInfoContainer {
  display: flex;
}
