.junkContainer {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid gray;
}

.junkContainer > div:first-child {
  display: flex;
  width: 30%;
  justify-content: center;
}

.junkContainer > div:first-child {
  display: flex;
  justify-content: left;
}

.info {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 576px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
