.topReportJunkList {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 30px 0;
}
.title {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border-bottom: 1px soild black;
  background-color: white;
}
.header {
  display: flex;
  border-top: 1px solid black;
}
.junk {
  display: flex;
}

@media (max-width: 576px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
