.pageNavContainer {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageNavContainer > table {
  width: 280px;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pageNav {
  width: 100%;
  padding: 0 0.3rem;
  box-sizing: border-box;
}

.pageNav > a > p {
  width: 1rem;
  font-size: 15px;
}

.btnText {
  width: 2.5rem;
  font-size: 100%;
}

.disableBtnText {
  color: gray;
  width: 2.5rem;
  font-size: 100%;
}
