.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.headerContainer {
  width: 100%;
  height: 2rem;
  margin-top: 2rem;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004080;
  color: white;
  font-family: Ramche;
}
.tableContainer {
  width: 100%;
  height: 100%;
  border-top: 1px solid #ccc;
  background-color: white;
}

.tableContainer > table {
  width: 100%;
  height: 100%;
}
.tableContainer td {
  padding: 4px;
  font-size: 14px;
}

.tableInfoContainer {
  border-bottom: 1px solid #ccc;
}
.tableInfoContainer > tr > td {
  padding: 0.6rem;
}
.tableDataContainer {
  :hover {
    background-color: #ccc;
  }
}
.tableDataContainer > tr {
  border-bottom: 1px solid #ccc;
}
.tableDataContainer > tr > td {
  padding: 0.4rem;
}

.tableDataContainer > tr > td:nth-child(2):hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .container {
    padding: 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 0 5%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 0 8%;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 15%;
  }
}
