.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > div {
  width: 300px;
  margin: 5rem 0;
  border: 1px solid #ccc;
  padding: 2rem;
  background-color: #fff;
}
.inputContainer > div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inputContainer > div:last-child {
  margin: 1rem 0;
}

.inputContainer > div > input {
  width: 60%;
  margin-left: 0.5rem;
  border-radius: 30px;
  background-color: #f9f6f0;
}

.btnContainer {
  display: flex;
  justify-content: center;
}
.btnContainer > button {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 30rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.linkContainer {
  display: flex;
  justify-content: center;
}
