@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  .container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "header header" "main aside";
  }
  .container > div {
    grid-area: header;
  }
  .container > ul {
    grid-area: main;
    max-width: 540px;
    max-height: 285px;
    margin: 0;
  }
  .container > ul:last-child {
    grid-area: aside;
  }
}
